#about-section {
    max-width: 800px;
    margin: auto;
}

h1 {
    font-family: open-sans-bold;
    font-size: 2.5em;
    margin-bottom: 1em;
    text-align: center
}

#about-body {
    margin: 1em auto;
    line-height: 2em;
}

#about-body p {
    margin: 2em;
}
