<html>
  <head>
    {% if title %}
    <title>{{ title }} - iyor</title>
    {% else %}
    <title>iyor</title>
    {% endif %}
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="static/style/base.css">
    <div class="nav-bar">
      <img id="logo" src="static/assets/iyor.svg" alt="iyor logo">
      <div id="home" class="nav-item"><a href="/index">HOME</a></div>
      <div id="things" class="nav-item">
        THINGS
        <div class="things-content">
          <a href="/">focus</a>
        </div>
      </div>
      <div id="about" class="nav-item"><a href="/about">ABOUT</a></div>
      {% if session['logged_in'] %}
        <form id="logout" action="{{ url_for('logout') }}" method="post">
          <button type="submit">Log out</button>
        </form>
      {% endif %}
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    <div>
  </body>
</html>
